/************************************GENERAL************************************/
//these are default styles for testimonials Lud
//Highly recomended not to change
.tls-container {
	background: @tls-templatebg;
	position: relative;
	height: 120px;
	overflow: hidden;
	ul{
		opacity: 0;
		list-style-type: none;
	}
	.tls-item{
		float: left;
		display:block;
		.box-sizing(border-box);
	}
	.tls-item-inner{background:@tls-singlebg;}
	.tls-post_title, .tls-name, .tls-position, .tls-company, .tls-custom_text1, .tls-custom_text2{
		color: @tls-othertxtcolor;
		a{color: @tls-linkcolor;}
	}
	.tls-post_content{color:@tls-txtcolor;}
	.fredslider li{width: 33%;}
	.in-grid{	margin: 0 auto; li{width: 33%;}}
	.masonry-brick{
		margin: 8px 0;
		overflow: hidden;
		display:block;
	}
}
/***************************** controls *****************************/
section.section-testimonials-lud{
	.tls-container:hover{
		.tls-prev, .tls-next{opacity:1;}
	}

	.tls-prev, .tls-next{
		display: none;
		opacity: 0;
		top: 50%;
		margin-top: -(@tls-arrowsize/2);
		position:absolute;
		.transition(opacity .3s linear);
		font-size: @tls-arrowsize;
		a{color: @tls-arrowtcolor;}
	}
	.tls-prev{left: 0;}
	.tls-next{right: 0;}
	.tls-pager{
		display: none;
		//opacity: 0;
		text-align: center;
		margin-top: 8px;
		padding-top: 2px;
		a {
			display: inline-block;
			padding: 5px;
		}
		a.selected span {background: @tls-pageractivecolor;}
		span {
			border-radius: 30px;
			background: @tls-pagercolor;
			//text-indent: -100px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			width: 14px;
			height: 14px;
			overflow: hidden;
		}
	}
}
/*****************************options style*****************************/
form[data-sid="testimonials-lud"], form[data-scope="testimonials-lud"]{
	.opt{
		background: #2f2f2f !important;
		min-height: 280px;
		&.opt-rest{min-height: 0}
	}
	label{
		.fix;
		color:white !important;
		font-size:1em !important;
		.btn.btn-mini{
			float:right;
		}
	}
	.opt-name{
		font-size: 1.3em !important;
		background: white !important;
		box-shadow: 0 0 0 !important;
		color:@blue !important;
	}
	select, textarea, input{
		margin-bottom: 10px;
	}
}
/************************************DEFAULT TEMPLATE************************************/
/************************************sabrine************************************/
.tls-container.template-sabrine{
	//.tls-item{width: 100%;}
	.tls-item-inner{
		.clearfix;
		width: 90%;
		margin: 1% auto;

	}
	#tls-group-1{
		width:	50%;
		float: left;
		text-align: right;
		.box-sizing(border-box);
		padding:  0 2% 0 1%;
		border-right: 1px solid brown;
	}

	#tls-group-2{
		width:	50%;
		float: left;
		.box-sizing(border-box);
		text-align: left;
		padding-left: 2%;
	}
	.tls-name, .tls-position, .tls-company{
		float: right;
		margin-right: 20px;
		line-height: 2;
		font-size: 1.2em;
		color: brown;
		a{
			color: brown;
			&:hover{color: lightcoral;}
		}
	}
	.tls-custom_text1{
		text-transform: uppercase;
		letter-spacing: 4px;
		color: brown;
		//line-height: 1.2;
		//margin-bottom: 1%;
	}
	.tls-post_title{
		font-size: 3em;
		line-height: 1.3;
		text-shadow: 1px 1px 2px;
		color: brown;
	}
	.tls-post_content{
		font-size: 1.2em;
	}
	&.sabrine-c2{
		.tls-name, .tls-position, .tls-company{
			margin-right: 0;
			line-height: 1.2;
			font-size: 1.1em;
			display: block;
			float: none;
			text-align: right;
		}
		.tls-custom_text1{
			letter-spacing: 2px;
		}
		.tls-post_title{
			font-size: 2em;
			line-height: 1.2;
			margin-bottom: 8px;
		}
		.tls-post_content{
			font-size: 1.1em;
		}
		.tls-name{font-weight: bold;}
	}
	&.sabrine-c3{
		.tls-name, .tls-position, .tls-company{
			margin-right: 0;
			line-height: 1.2;
			font-size: 1.1em;
			display: block;
			float: none;
			text-align: right;
		}
		.tls-custom_text1{
			letter-spacing: 2px;
		}
		.tls-post_title{
			font-size: 1.6em;
			line-height: 1.1;
			margin-bottom: 8px;
		}
		.tls-post_content{
			font-size: 1em;
		}
		.tls-name{
			font-weight: bold;
		}
	}
}//sabrine end
/************************************bigtext************************************/
.tls-container.template-bigtext{
	//.tls-item{width: 100%;}
	//padding-bottom: 12px;
	.tls-item-inner{
		width: 80%;
		padding: 5%;
		margin: 0 auto;
		.clearfix();
	}
	#tls-group-2{
		//font-size: 0.9em;
		line-height: 1.2em;
		text-align: center;
		//margin-right: 20px;
		.clearfix;
	}
	.tls-name,.tls-position, .tls-company{
		display:inline-block;
		margin: 8px 4px;
		font-size: 1.1em;
	}
	.tls-name{
		font-size: 1.1em;
		font-weight: bold;
	}
	.tls-custom_text1{
		text-align: center;
		line-height: 1.8em;
		font-size: 3em;
		font-style: italic;
		&:before{content: '\201C';}
		&:after{content: '\201D';}
	}
	&.bigtext-c2{
		.tls-item-inner{
			width: 90%;
		}
		.tls-custom_text1{
			line-height: 1.5em;
			font-size: 2em;
		}
	}
	&.bigtext-c3{
		.tls-item-inner{
			width: 90%;
		}
		.tls-custom_text1{
			line-height: 1.2em;
			font-size: 1.5em;
		}
	}
}
/************************************default************************************/
.tls-container.template-default{
	//.tls-item{width: 100%;}
	//padding-bottom: 12px;
	.tls-item-inner{
		padding: 2.5%;
		border-left: 15px solid darkgray;
		background: lightgray;
		.clearfix;
		margin: 0 1%;
	}

	#tls-group-2{
		line-height: 15px;
		float: right;
		text-align: right;
		.clearfix;
	}
	.tls-name,.tls-position, .tls-company{
		float: right;
		margin-right: 8px;
		font-size: 1.1em;
	}
	.tls-name{
		font-size: 1.3em;
		float: none;
		text-align: right;
		line-height: 1.2em;
		}
	.tls-post_content{
		line-height: 1.3em;
		margin-bottom: 8px;
		font-size: 1.4em;
		&:before{
			content: '\201C';
			font-size: 6em;
			color: gray;
			position: relative;
			padding: 0 10px 0 10px;
			top: 32px;
		}
	}
	&.default-c2{
		.tls-item-inner{
		}
		.tls-name{
			font-size: 1.3em;
		}
		.tls-post_content{
			font-size: 1.2em;
		}
	}
	&.default-c3{
		.tls-item-inner{
		}
		.tls-name{
			font-size: 1.2em;
		}
		.tls-post_content{
			font-size: 1.1em;
		}
	}
}
/************************************klot************************************/
.tls-container.template-klot{
	//.tls-item{width: 100%;}
	//padding-bottom: 12px;
	.tls-item-inner{
		width: 60%;
		margin: 0 auto 18px;
		padding: 2.3% 0;
		min-height: 130px;
		.box-shadow(0 7px 5px 1px darkslategrey);
		border: 1px solid @baseContrastSlight;
		.border-radius(5px);
		.clearfix();
	}
	#tls-group-2{
		//font-size: 0.9em;
		line-height: 15px;
		float: right;
		text-align: right;
		margin-right: 20px;
	}
	.tls-name,.tls-position, .tls-company{
		float: right;
		margin-right: 8px;
	}
	.tls-name{
		text-shadow: 1px 1px 1px @grayLighter;
		font-size: 1.8em;
		float: none;
		line-height: 1.5em;
		}
	.tls-post_content{
		color: lighten( @tls-txtcolor, 15%);
		margin: 0 auto;
		width: 90%;
		min-height: 75px;
		text-shadow: 1px 1px 1px @grayLighter;
		text-align: justify;
		line-height: 1.3em;
		font-style: italic;
		margin-bottom: 8px;
	}
	&.klot-c2{
		.tls-item-inner{
			width: 90%;
			margin: 0 auto 18px;
			padding: 2.3% 0;
			min-height: 100px;
		}
		.tls-name{
			font-size: 1.5em;
		}
		.tls-post_content{
			min-height: 45px;
		}
	}
	&.klot-c3{
		.tls-item-inner{
			width: 90%;
			margin: 0 auto 18px;
			padding: 2.3% 0;
			min-height: 100px;
		}
		.tls-name{
			font-size: 1.3em;
			font-weight: bold;
		}
		.tls-post_content{
			min-height: 45px;
		}
	}
}//klot end
/************************************klotimage************************************/
.tls-container.template-klotimage{
	//.tls-item{width: 100%;}
	//padding-bottom: 12px;
	.tls-item-inner{
		width: 60%;
		margin: 0 auto 18px;
		padding: 2.3% 1.5%;
		min-height: 130px;
		.box-shadow(0 7px 5px 1px darkslategrey);
		border: 1px solid @baseContrastSlight;
		.border-radius(5px);
		.clearfix();
	}
	.tls-img{
		float:left;
		width: 17%;
		margin-right: 3%;
	}
	#tls-group-2{
		//font-size: 0.9em;
		line-height: 15px;
		float: right;
		text-align: right;
		//margin-right: 20px;
		.clearfix;
	}
	.tls-name,.tls-position, .tls-company{
		float: right;
		margin-right: 8px;
	}
	.tls-name{
		text-shadow: 1px 1px 1px @grayLighter;
		font-size: 1.8em;
		float: none;
		text-align: right;
		line-height: 1.5em;
		}
	.tls-post_content{
		color: lighten( @tls-txtcolor, 15%);
		//margin: 0 auto;
		//width: 90%;
		min-height: 75px;
		text-shadow: 1px 1px 1px @grayLighter;
		text-align: justify;
		line-height: 1.3em;
		font-style: italic;
		margin-bottom: 8px;
	}
	&.klotimage-c2{
		.tls-item-inner{
			width: 90%;
			min-height: 100px;
		}
		.tls-name{
			font-size: 1.5em;
		}
		.tls-post_content{
			min-height: 45px;
		}
	}
	&.klotimage-c3{
		.tls-item-inner{
			width: 90%;
			min-height: 100px;
		}
		.tls-name{
			font-size: 1.3em;
			font-weight: bold;
		}
		.tls-post_content{
			min-height: 45px;
		}
	}
}
/************************************metro************************************/
.tls-container.template-metro{
	//.tls-item{width: 100%;}
	.tls-item-inner{
		.clearfix;
		//width: 80%;
		margin: 1% auto;
	}
	#tls-group-1{
		width:	20%;
		float: left;
		.box-sizing(border-box);
	}

	#tls-group-2{
		width:	80%;
		float: left;
		.box-sizing(border-box);
	}
	.tls-quotes{
		width: 80%;
		margin: 0 auto 10px;
		text-align: right;
	}
	.tls-name, .tls-position, .tls-company{
		width: 80%;
		text-align:right;
		margin: 0 auto;
		line-height: 1.5;
		color:coral;
		a{
			color: darkred;
			&:hover{color: lightcoral;}
		}
	}
	.tls-name{
		font-size: 1.4em;
		line-height: 1.1;
	}
	.tls-post_title{
		color:coral;
		font-size: 3em;
		padding-bottom: 1%;
		margin-bottom: 2%;
		border-bottom: 2px solid coral;
		margin-right: 8px;
		line-height: 1.3
	}
	.tls-post_content{
		font-size: 1.4em
	}
	&.metro-c2{
		#tls-group-1{
			width:	30%;
		}

		#tls-group-2{
			width:	70%;
		}
		.tls-quotes{
			width: 60%;
			margin: 0 10px 10px auto;
		}
		.tls-name, .tls-position, .tls-company{
			width: 90%;
			margin: 0 10px 4px auto;
			line-height: 1.1;
		}
		.tls-name{
			font-size: 1.1em;
			font-weight: bold;
		}

		.tls-post_title{
			font-size: 1.9em;
			line-height: 1.1
		}

		.tls-post_content{
			font-size: 1.1em;
			line-height: 1.1;
		}
	}
	&.metro-c3{
		#tls-group-1{
			width:	35%;
		}

		#tls-group-2{
			width:	65%;
		}
		.tls-quotes{
			width: 90%;
			margin: 0 10% 10px 0;
		}
		.tls-name, .tls-position, .tls-company{
			width: 90%;
			margin: 0 10% 4px 0;
			line-height: 1.1;
		}
		.tls-name{
			font-size: 1em;
			font-weight: bold;
			line-height: 1;
		}

		.tls-post_title{
			font-size: 1.6em;
			line-height: 1.1
		}

		.tls-post_content{
			font-size: 1.1em;
			line-height: 1.2;
		}
	}
}//metro end
/************************************metroimage************************************/
.tls-container.template-metroimage{
	//.tls-item{width: 100%;}
	.tls-item-inner{
		.clearfix;
		width: 80%;
		margin: 1% auto;
	}
	#tls-group-2{
		width:	80%;
		float: left;
		.box-sizing(border-box);
	}
	.tls-img{
		//width: 70%;
		float:left;
		margin-right: 2%;
		width: 18%;
		text-align: center;

	}
	.tls-name,.tls-position, .tls-company{
		float:left;
		margin-bottom: 4px;
		margin-right: 20px;
		line-height: 1.1;
		font-size:1.4em;
		color: coral;
		a{
			color: darkred;
			&:hover{color: lightcoral;}
		}
	}
	.tls-post_title{
		color:coral;
		font-size: 3em;
		margin-bottom: 4px;
		line-height: 1;
		display: block;
	}
	.tls-post_content{
		border-top: 2px solid coral;
		padding-top: 8px;
		font-size: 1.4em;
		display: block;
		clear: both;
	}
	&.metroimage-c2{
		.tls-name, .tls-position, .tls-company{
			font-size: 1.2em;
		}
		.tls-name{
			font-weight: bold;
		}

		.tls-post_title{
			font-size: 1.9em;
			line-height: 1.1
		}

		.tls-post_content{
			font-size: 1.2em;
			line-height: 1.1;
		}
	}
	&.metroimage-c3{
		.tls-name, .tls-position, .tls-company{
			font-size: 1em;
			line-height: 1;
		}
		.tls-name{
			font-weight: bold;
		}

		.tls-post_title{
			font-size: 1.8em;
			line-height: 1.1
		}

		.tls-post_content{
			font-size: 1.1em;
			line-height: 1.2;
		}
	}
}//metroimage end
/************************************simple************************************/
.tls-container.template-simple{
	//.tls-item{width: 100%;}
	//padding-bottom: 12px;
	.tls-item-inner{
		width: 60%;
		padding: 2.3% 1.5%;
		margin: 0 auto;
		//min-height: 130px;
		.clearfix();
	}
	.tls-quotes{
		float:left;
		width: 17%;
		max-width: 40px;
		margin-right: 3%;
	}
	#tls-group-2{
		//font-size: 0.9em;
		line-height: 15px;
		float: right;
		text-align: right;
		//margin-right: 20px;
		.clearfix;
	}
	.tls-name,.tls-position, .tls-company{
		float: right;
		margin-right: 8px;
	}
	.tls-name{
		//text-shadow: 1px 1px 1px @grayLighter;
		font-size: 1.5em;
		float: none;
		text-align: right;
		line-height: 1.5em;
		}
	.tls-post_content{
		//color: lighten( @tls-txtcolor, 15%);
		//margin: 0 auto;
		//width: 90%;
		//min-height: 75px;
		//text-shadow: 1px 1px 1px @grayLighter;
		text-align: justify;
		line-height: 1.3em;
		//font-style: italic;
		margin-bottom: 8px;
	}
	&.simple-c2{
		.tls-item-inner{
			width: 90%;
		//	min-height: 100px;
		}
		.tls-name{
			font-size: 1.3em;
		}
		.tls-post_content{
		//	min-height: 45px;
		}
	}
	&.simple-c3{
		.tls-item-inner{
			width: 90%;
		//	min-height: 100px;
		}
		.tls-name{
			font-size: 1.1em;
			font-weight: bold;
		}
		.tls-post_content{
		//	min-height: 45px;
		}
	}
}//simple end